/***********/
/* GENERAL
/***********/
* {
  /*border: 1px solid red;*/
}

body {
  background-color: #3e464c;
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  height: 65px;
  margin: 0;
  padding: 0;
  z-index: 2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

header h1 {
  text-align: center;
}

.wrapper {
  margin: auto;
  width: 80%;
}

button {
  margin: 0 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

/***********/
/* MAIN
/***********/
.search {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result {
  width: 100%;
  height: 220px;
  background-color: gray;
  display: flex;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  margin: 25px 0;
}

.result-image {
  height: 220px;
  background-image: url('https://www.flickr.com/photos/roughtimes/34245135365/');
  background-size: cover;
  background-position: center;
  min-width: 220px;
  height: 100%;
}

.result-inner {
  padding: 15px;
}

.result-inner p {

}

/***********/
/* EDIT
/***********/
.edit {
  /*display: none;*/
}

.edit h2{
  color: white;
  text-align: center;
}

#canvas-container {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 400px;
  height: 400px;
  margin: 25px auto 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

canvas {
  border-radius: 5px;
  cursor: crosshair;
  position: absolute;
  top: 0;
  left: 0;
}

.colors,
.tools,
.buttons,
.actions {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colors span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.color-selected {
  border: 5px solid white;
}

.black { background-color: black; }
.white { background-color: white; }
.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
